@import '~antd/lib/style/themes/default.less';

.ant-menu{
    display: block;
    width:50%;
}
@media(max-width:600px)
{
    
    .ant-menu-submenu{
        display: block;
        width:20%;
    }
   
}
.ant-layout-header {
    background: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
