.login-bg{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #ececec;
}

.login-Card{
    width:35vw;
    border: none;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-col{
    width:100%;
}

.ant-row{
    justify-content:center;
    
}

.sign-title{
    text-align: center;
    font-size: 32px;
    margin-bottom: 10px;
    margin-top: -10px;
    color:#1DA57A;
}

@media(max-width:600px){
    .login-Card{
        
        width:80vw;
    }
}

.login-Card>.ant-card-body{
    padding-top: 1vw;
    width: 95%;
    height: 95%;
}
