
.detail-card{
    margin:0 auto;
    width: 50vw;
}
.detail-card-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:0.5vw;
}
.detail-card-text>img{
    width: 50%;
}
.detail-card-text-words{
    width: 50%;
    text-align: center;

}
.detail-card-text-words>h2{
    margin-top:3vw;
    font-size:2vw;
    display: block;
}
.detail-content{
    width: 100%;
    padding:0.5vw 1vw;
}
.detail-card-text-words>p{
    margin:2vw;
    display: block;
}
.detail-card-text-words>button{


}