
.Activity{
    display: flex;
    align-items: center;

}
.slick-slide>div,.slick-slide>div>img{
    display: block;
    width: 100%;
    height:100%;
}
.Activity>.ant-space-item:first-child{
    width: 100%;
    height: 37vw;
}
.Activity>.ant-space-item:nth-child(2){
    width:100%;
}
.recent-map{

    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recent-map>.ant-space-item{
    margin: 15px 15px;
    width: 27vw;
    height: 17vw;
}
@media(max-width:600px){
    .recent-map>.ant-space-item{
        margin: 15px 0px;
        width: 100%;
        height: 34vw;
    }
}
.recent-map>.ant-space-item:last-child{
    margin-right:8px;
}
.recent-Act{width: 100%;text-align: center;}

.ant-card-body{
    padding:0px;
}

.recent-Act>.ant-space{
   
}

.ant-carousel,.slick-slider,.slick-track,.slick-cloned,.slick-list{
    height:100%;

}