
.Activity{
    display: flex;
    align-items: center;

}
.slick-slide>div,.slick-slide>div>img{
    display: block;
    width: 100%;
    height:100%;
}
.Activity>.ant-space-item:first-child{
    width: 100%;
    height: 30vw;
}
.Activity>.ant-space-item:nth-child(2){
    width:100%;
}
.recent-map{

    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recent-map>.ant-space-item{
    margin: 15px 15px;
    width: 27vw;
    height: 17vw;
    border-radius: 15px;
}
.recent-map>.ant-space-item>.ant-card:hover{
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
}
.ant-carousel{
    width: 70%;
    margin:0 auto;
    box-shadow: 0 5px 12px 4px rgba(0, 0, 0, 0.09);
    border-radius: 30px;
}
.list-photo{
    width:272px;
}

.ant-layout-sider-children{
    width:100%;
}
.ant-layout-sider-children>.ant-menu{
    width:100%;
}
.site-layout-sider{
    width:200px;
}
.create-act-card>.ant-card-body{
    padding: 10px;
}
.act-carousel-link-img{
    display: block;
    height: 100%;
    width: 100%;
}
.act-carousel-link{
    display: block;
    height: 100%;
    width: 100%;
}
@media(max-width:1100px){
    .ant-layout.site-layout-background{
        flex-wrap: wrap;
    }
    .site-layout-background{
        width: 100%;
    }
    .site-layout-sider{
        width: 100%;
    }
}
@media(max-width:600px){
    .list-photo{
        width:100%;
    }
    .recent-map>.ant-space-item{
        margin: 15px 0px;
        width: 100%;
        height: 34vw;
    }
    .ant-carousel{
        width: 100%;
        height: 100%;
        margin:0 auto;
    }
    .ant-space:first-child{
        height: 100%;
    }
}


.recent-map>.ant-space-item:last-child{
    margin-right:8px;
}
.recent-Act{width: 100%;text-align: center;}

.ant-card-body{
    padding:0px;
}

.recent-Act>.ant-space{
   
}

.ant-carousel,.slick-slider,.slick-track,.slick-cloned,.slick-list{
    height:100%;

}
.ant-pagination{
    margin-bottom: 10px;
    margin-right: 10px;
}