.actDetail-details{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
}


.actDetail-button{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.actDetail-button>.ant-btn{
    margin-left: 4px;
}
.actDetail-textpart{
    display: flex;
    
}
.actDetail-details>p{
   padding: 6px 2px;
}
.ant-modal-body{
    padding: 12px 12px;
}
.detailImg{
    width:100%;
    height: 234px;
}
@media(max-width:450px){
    .detailImg{

        height: 170px;
    }
}

.actDetail-textpart{
    flex-direction: row;
    justify-content: space-between;
}