body {

}
a {
    color: rgba(0, 0, 0, 0.65);
}

.ant-layout-header{
    background-color:white;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
.Activity{
    display: flex;
    align-items: center;

}

.Activity>.ant-space-item:first-child{
    width: 70vw;
    height: 40vw;
}
.Activity>.ant-space-item:nth-child(2){
    width:100%;
}
.recent-map{

    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.recent-map>.ant-space-item{

    width: 27vw;
    height: 25vw;
}
.recent-map>.ant-space-item:last-child{
    margin-right:8px;
}
.recent-Act{width: 100%;text-align: center;}
.note-Card,.ant-card-body{
    width: 100%;
    height: 100%;

}
.ant-card-body{
    padding:0px;
}

.recent-Act>.ant-space{
   
}

.ant-carousel,.slick-slider,.slick-track,.slick-cloned,.slick-list{
    height:100%;

}

/*
.slick-track{
    height: 380px;
}
.site-layout-content{
    width: 100%;
    height:100%;
}

.Activity{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top:40px;
    margin-bottom: 40px;
}
.recent-Act{
    text-align: center;
    width:100%;
    margin-top: 10px;
}

.Activity > .ant-space-item{
    width: 100%;
}


.note-title {
}
.recent-map{
    margin-top:20px;
}
.recent-map > .ant-space-item{
    width: 170px;
    
}
.Activity>.ant-space-item:first-child{
    max-width: 800px;
}

*/

