#components-layout-demo-top-side .logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 28px 16px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}
.site-layout-sider{
  width: auto
}

.volunteerCheckBox>.ant-form-item-control>.ant-form-item-control-input>.ant-form-item-control-input-content{
  display: flex;
  justify-content: center;
}
@media(min-width:1400px){
  .AdminAct-content{
  
  }
}